<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Reproductor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Reproductor.Properties.Settings>
            <setting name="RootFolder" serializeAs="String">
                <value>\ReproductorMusic</value>
            </setting>
            <setting name="completeFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="formatAccepted" serializeAs="String">
                <value>"All Supported Audio | *.mp3; *.wma | MP3s | *.mp3 | WMAs | *.wma"</value>
            </setting>
            <setting name="logFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="estadoFolder" serializeAs="String">
                <value />
            </setting>
        </Reproductor.Properties.Settings>
    </userSettings>
</configuration>